@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("../../_variables.scss");
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1024px) {
  .contactPage {
    background-color: #fff;
    padding-bottom: 5vh;
    width: 80%;
    margin-left: 10%;
    position: relative;
    overflow-x: hidden;
    margin-top: 15vh;
    text-align: center;
    max-width: 1920px;
  }
  .contactPage h4 {
    width: 90%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .contactPage .contactPageOption-full {
    background-color: #07a59d;
    width: 97.5%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 1.15%;
    margin-right: 1.15%;
    float: left;
    padding: 30px;
    height: 100%;
    color: white;
  }
  .contactPage .contactPageOption-full .iconOption {
    font-size: 3rem;
  }
  .contactPage .contactPageOption-full h3 {
    padding: 15px 0px;
  }
  .contactPage .contactPageOption-full h3.contactTitle {
    margin-top: 3vh;
  }
  .contactPage .contactPageOption-full h5.contactSubTitle {
    margin-bottom: 3vh;
  }
  .contactPage .contactPageOption-full button {
    font-size: 1rem;
    padding: 7px;
    width: 25%;
    margin-top: 30px;
    background-color: white;
    border: none;
    color: black;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage .contactPageOption {
    background-color: #07a59d;
    width: 31%;
    margin-left: 1.15%;
    margin-right: 1.15%;
    float: left;
    margin-bottom: 3%;
    padding: 30px;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage .contactPageOption .iconOption {
    font-size: 3rem;
  }
  .contactPage .contactPageOption h3 {
    padding: 15px 0px;
  }
  .contactPage .contactPageOption h3.contactTitle {
    margin-top: 3vh;
  }
  .contactPage .contactPageOption h5.contactSubTitle {
    margin-bottom: 3vh;
  }
  .contactPage .contactPageOption button {
    font-size: 1rem;
    padding: 7px;
    width: 50%;
    margin-top: 30px;
    background-color: white;
    border: none;
    color: black;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage form {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    width: 100%;
    margin-top: 2rem;
  }
  .contactPage form input[type=text], .contactPage form input[type=email], .contactPage form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage form input[type=text]:focus, .contactPage form input[type=email]:focus, .contactPage form textarea:focus {
    outline: none;
    border: none;
  }
}

@media only screen and (max-width: 1024px) {
  .contactPage {
    background-color: #fff;
    padding-bottom: 5vh;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-top: 15vh;
    text-align: center;
  }
  .contactPage h4 {
    width: 90%;
    margin-left: 5%;
    padding-top: 3%;
  }
  .contactPage .contactPageOption, .contactPage .contactPageOption-full {
    background-color: #07a59d;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 30px;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage .contactPageOption:first-of-type, .contactPage .contactPageOption-full:first-of-type {
    margin-top: 6vh;
  }
  .contactPage .contactPageOption .iconOption, .contactPage .contactPageOption-full .iconOption {
    font-size: 3rem;
  }
  .contactPage .contactPageOption h3, .contactPage .contactPageOption-full h3 {
    padding: 15px 0px;
  }
  .contactPage .contactPageOption h3.contactTitle, .contactPage .contactPageOption-full h3.contactTitle {
    margin-top: 3vh;
  }
  .contactPage .contactPageOption h5.contactSubTitle, .contactPage .contactPageOption-full h5.contactSubTitle {
    margin-bottom: 3vh;
  }
  .contactPage .contactPageOption button, .contactPage .contactPageOption-full button {
    font-size: 1rem;
    padding: 7px;
    width: 50%;
    margin-top: 30px;
    background-color: white;
    border: none;
    color: black;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage form {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
    width: 100%;
  }
  .contactPage form input[type=text], .contactPage form input[type=email], .contactPage form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    font-size: 1rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .contactPage form input[type=text]:focus, .contactPage form input[type=email]:focus, .contactPage form textarea:focus {
    outline: none;
    border: none;
  }
}
/*# sourceMappingURL=contact.css.map */